header {
  .header-bg {
    position: relative;
    background-image: url('css/about-bg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .header-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparan hitam */
  }
  
  .header-bg .container {
    position: relative;
    z-index: 1;
  }
}

body {
    font-family: Arial, sans-serif;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
  